.app {
  display: grid;
  place-items: center;
  height: 100vh;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Montserrat', sans-serif;
}

.todos {
  position: relative;
  height: 400px;
  overflow: auto;
}

.todos__form {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.todos__input {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  width: 100%;
  padding: 1em;
  border: 1px solid #d7d7d7;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 1em;
}

.priority {
  justify-content: center;
}

.priority, .priority__wrapper {
  font-size: 0.8em;
  display: flex;
}

.priority input {
  margin: 0 10px;
}

.priority label>span {
  text-transform: capitalize;
}

.update-todo {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  transform: scale(0);
  opacity: 0;
  transition: transform, opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.update-todo__content {
  padding: 1em;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 3px;
  position: relative;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
}

.update-todo__content form {
  display: grid;
  grid-template-rows: 5% auto;
  grid-gap: 10px;
}

.update-todo__content .MuiSvgIcon-root {
  font-size: 1em;
  justify-self: end;
  cursor: pointer;
}

.update-todo--show {
  transform: scale(1);
  opacity: 1;
}

button.expand-collapse-btn {
  position: fixed;
  right: 0;
  transition: opacity 0.2s linear;
}

button.collapse--hide {
  opacity: 0;
}

.todos__header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(222, 73, 71, 1) 29%, rgba(61, 113, 213, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todos__header > h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.todos__logo {
  height: 100px;
  object-fit: contain;
}